.contact-content {
  padding: 40px 30px 100px;
}

.contact-info {
  margin-bottom: 40px;
}
.contact-info p {
  margin: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 3px;
}

.textbox {
  padding: 5px;
}

.textarea {
  min-height: 15vh;
}

h2 {
  text-transform: capitalize;
}
