.under-construction {
  margin: 50px auto;
  color: var(--white);
  background-color: rgba(43, 68, 67, 0.9);
  padding: 50px 10px;
  text-align: center;
  border-radius: 11px;
  margin: 50px 30px 100px;
}

.under-construction-text {
  font: var(--small-header);
}
